#freshbnb-map {
  height: 360px;
  margin-top: 1rem;
}

.freshbnb-marker {
  width: 120px;
  height: 120px;
  background-color: rgb(230, 30, 77);
  border-radius: 50%;
  opacity: 0.1;
  margin-top: 60px;
}
