@font-face {
  font-family: Varela;
  src: url(../assets/font/VarelaRound/VarelaRound-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../assets/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Cereal;
  src: url(../assets/font/Cereal/AirbnbCerealBook.ttf);
}

@font-face {
  font-family: Cereal-Bold;
  src: url(../assets/font/Cereal/AirbnbCerealBold.ttf);
}
