.auth__container {
  height: 77vh;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  height: 50vh;
  width: 355px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 20px;
}

.auth__header {
  display: flex;

  p {
    text-align: center;
    font-size: 24px;
    font-family: Cereal-Bold;
  }
}

.auth__body {
  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    p {
      font-size: 14px;
      text-align: center;
      margin-top: 2rem;

      a {
        color: rgb(230, 30, 77);
        font-family: Cereal-Bold;
      }
    }
  }
}
