.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  height: 40vh;
  width: 355px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 20px;
}

.login__header {
  display: flex;

  p {
    text-align: center;
    font-size: 24px;
    font-family: Cereal-Bold;
  }
}

.login__body {
  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    .login__inputs {
      border: 1px solid rgb(221, 221, 221);
      border-radius: 12px;

      .login__input {
        height: 50px;
        input {
          height: 56px;
          width: 100%;
          border: none;
          outline: none;
          margin: 0;
          padding: 12px 100px 12px 10px;
          background-color: transparent;
          color: inherit;
        }
      }
    }
    p {
      margin-top: 1rem;
      font-size: 14px;
      text-align: center;

      a {
        color: rgb(230, 30, 77);
      }
    }
  }

  .login__inputs .login__input:not(:last-child) {
    border-bottom: 1px solid lightgray !important;
  }

  button {
    background-color: rgb(230, 30, 77);
    color: #fff;
    line-height: 20px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    margin: 1rem 0;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }
  }
}
