.inputs {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  .input {
    height: 50px;
    input {
      height: 56px;
      width: 100%;
      border: none;
      outline: none;
      margin: 0;
      padding: 10px 100px 12px 10px;
      background-color: transparent;
      color: inherit;
    }
  }
}

.inputs .input:not(:last-child) {
  border-bottom: 1px solid lightgray !important;
}

.input__notValid {
  color: red;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
  position: relative;
  bottom: 18px;
}
