.inputs {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  .input {
    height: 100%;
    input,
    textarea,
    select,
    input[type='number'] {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      margin: 0;
      padding: 10px 100px 12px 10px;
      background-color: transparent;
      color: inherit;
      font-family: Cereal, sans-serif;
    }
  }
}

.inputs .input:not(:last-child) {
  border-bottom: 1px solid lightgray !important;
}

.input__notValid {
  color: red;
  font-size: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
  position: relative;
  bottom: 16px;
  margin-right: 2px;
}
