// Setup
@import 'setup/typography';

// Basics
@import 'basic/base';

// Pages
@import 'components/pages/home/home';
@import 'components/pages/home/banner';
@import 'components/pages/home/datePicker';
@import 'components/pages/home/card';
@import 'components/pages/browse/browse';
@import 'components/pages/browse/browseList';
@import 'components/pages/rental-detail/rentalDetail';
@import 'components/pages/rental-detail/gallery';
@import 'components/pages/rental-detail/lightbox';
@import 'components/pages/auth/login';

// Layout
@import 'components/layout/header';
@import 'components/layout/bottomNav';
@import 'components/layout/footer';
