// Setup
@import 'setup/typography';

// Basics
@import 'basic/base';
@import 'basic/button';
@import 'basic/input';

// Pages
@import 'components/pages/home/home';
@import 'components/pages/home/banner';
@import 'components/pages/home/datePicker';
@import 'components/pages/home/card';
@import 'components/pages/browse/browse';
@import 'components/pages/browse/browseList';
@import 'components/pages/rental-detail/rentalDetail';
@import 'components/pages/rental-detail/gallery';
@import 'components/pages/rental-detail/lightbox';
@import 'components/pages/rental-detail/modal';
@import 'components/pages/auth/auth';
@import 'components/pages/add-rental/addRental';
@import 'components/pages/manage/manage';
@import 'components/pages/manage/myRentals';
@import 'components/pages/manage/myBookings';

// Layout
@import 'components/layout/header';
@import 'components/layout/bottomNav';
@import 'components/layout/footer';

// Extra
@import 'components/map/tomMap';
