.home__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  place-items: center;
  padding: 10px;
  overflow: hidden;
}

@media screen and (max-width: 935px) {
  .home__section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 660px) {
  .home__section {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 3.5rem;
  }
}
