.rentalDetail {
  display: block;
  margin: 0 10rem;
  margin-top: 1rem;
}

.rentalDetail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1.8em;
    text-transform: capitalize;
    color: #4e4e4e;
    margin-bottom: 1rem;
  }
}

.rentalDetail__subtitle {
  display: flex;
  align-items: center;
  margin-right: auto;

  .rentalDetail__star {
    color: #ff385c;
  }

  p > strong {
    font-family: Cereal-Bold;
    margin-right: 5px;
  }

  p > span {
    color: rgb(113, 113, 113);
    margin-right: 10px;
  }
}

.rentalDetail__location {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: rgb(113, 113, 113);
  text-decoration: underline;
  text-transform: capitalize;
}

.rentalDetail__right {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 14px;

  span {
    margin-left: 5px;
    text-decoration: underline;
  }

  &:hover {
    border-radius: 20px;
    background-color: #f2f2f2;
    cursor: pointer;
  }
}

.rentalDetail__body {
  display: flex;
}

.rentalDetail__body-left {
  flex: 0.7;

  hr {
    margin: 2rem 0;
    opacity: 0.4;
    width: 80%;
  }

  small {
    font-family: Cereal-Bold;
    text-transform: capitalize;
    margin-left: 1rem;
  }
}

.rentalDetail__body-right {
  flex: 0.3;
  max-width: 700px;
}

.rentalDetail__body-description {
  margin: 1rem 0;
  margin-bottom: 0.1rem;
  margin-left: 1rem;
}

.rentalDetail__body-right {
  border: 1px solid rgb(221, 221, 221);
  padding: 24px;
  border-radius: 12px;
  margin-left: 30px;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  width: 100%;
}

.rentalDetail__priceCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rentalDetail__priceCard-rating {
  display: flex;
  align-items: center;

  span {
    margin: 0 5px;
  }
}

.rentalDetail__star {
  color: #ff385c;
}

.rentalDetail__priceCard-rating span:nth-child(3) {
  color: rgb(113, 113, 113);
}

.rentalDetail__priceCard-button {
  background-color: rgb(230, 30, 77);
  color: #fff;
  line-height: 20px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  margin: 1rem 0;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    color: rgb(230, 30, 77);
    background-color: #f4f4f4;
    border: 1px rgb(230, 30, 77) solid;
    cursor: not-allowed !important;
  }
}

.rentalDetail__assets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 0;
  margin-left: 1rem;
  div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    span {
      margin-left: 5px;
    }
  }
}

.rentalDetail__back {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 1rem;

  span {
    margin-left: 5px;
  }

  &-icon {
    font-size: 14px !important;
  }
}

.m-0 {
  margin-left: 0;
}

.rentalDetail__specs {
  display: flex;
  height: 40px;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;

  input {
    height: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    outline: none;
    padding: 10px;
    color: inherit;
    font-family: Cereal, sans-serif;
  }
  #dates {
    width: 110%;
  }

  input[type='number'] {
    width: 35%;
    margin-left: 30px;
  }
}

.daterangepicker td.in-range {
  background-color: #ff9bad !important;
}

.daterangepicker td.active {
  background-color: #ff385c !important;
}

.rentalDetail__body-top {
  display: flex;
  justify-content: space-between;

  p {
    margin: 1rem 0;
    margin-bottom: 0.1rem;
    margin-left: 1rem;

    span {
      color: #ff385c;
      font-family: Cereal-Bold;
      margin-left: 5px;
    }
  }
}

.rentalDetail__body-host {
  font-family: Cereal-Bold;
  display: flex;
  align-items: center;
  min-width: 140px;
}

@media screen and (max-width: 1400px) {
  .rentalDetail {
    margin: 1rem 4rem;
  }
  .rentalDetail__body {
    flex-direction: column;
  }

  .rentalDetail__body-right {
    margin: auto;
    margin-bottom: 0rem;
  }

  .rentalDetail__body-left hr {
    display: none;
  }

  .rentalDetail__body-left {
    margin-bottom: 4rem;
    order: 2;
  }

  .rentalDetail__header {
    h1 {
      font-size: 1.4rem;
    }
  }
  .rentalDetail__assets {
    div {
      span {
        font-size: 0.8rem;
      }
    }
  }
  .rentalDetail__location {
    font-size: 14px;
  }
}

@media screen and (max-width: 1110px) {
  .rentalDetail__body-right {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 670px) {
  .rentalDetail__body-top {
    flex-direction: column;
  }
}

@media screen and (max-width: 540px) {
  .rentalDetail {
    margin: 1rem;
  }

  .rentalDetail__assets {
    div {
      span {
        font-size: 0.7rem;
      }
    }
  }

  .rentalDetail__body-description {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .rentalDetail__location {
    font-size: 12px;
  }
  .rentalDetail__assets {
    grid-template-columns: repeat(2, 1fr);
  }
}
