.navBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.navBottom__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50px;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  transition: color 0.1 ease-in-out;
  color: #484848;

  &:hover {
    color: rgb(255, 56, 92);
  }
}

.navBottom__link span {
  font-size: 14px;
}

.navBottom__active {
  color: rgb(255, 56, 92);
}

@media screen and (max-width: 1108px) {
  .navBottom {
    display: flex;
  }
}
