.header {
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px !important;
}

.header__logo {
  object-fit: contain;
  height: 45px;
  margin-left: 10px;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 20px 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;

  input {
    border: none;
    width: 250px;
    padding: 10px;
    outline-width: 0;
  }
}

.header__right {
  display: flex;
  flex: 0.25;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 20px;
  padding: 5px 10px;
  p {
    font-size: 14px;
  }

  .header__right-icons:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
  }
}

.header__searchIcon {
  background-color: rgb(230, 30, 77);
  color: #fff;
  padding: 5px;
  font-size: 32px !important;
  border-radius: 999px;

  &:hover {
    filter: brightness(95%);
    cursor: pointer;
  }
}

.header__avatar {
  width: 34px !important;
  height: 34px !important;
}

.header__username {
  display: flex;
  align-items: center;

  span {
    margin-right: 5px;
  }

  &:hover {
    cursor: pointer;
  }
}

// Dropdown
.dropdown {
  display: block;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
}

.dropdown ul {
  position: absolute;
  top: 75px;
  right: 20px;
  display: flex !important;
  flex-direction: column !important;
  background: #fff;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.dropdown ul li .fas {
  margin-left: 10px;
}

.dropdown ul:before {
  content: '';
  position: absolute;
  top: -17%;
  right: 17%;
  transform: translateX(-50%);
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.dropdown a {
  display: flex;
  align-items: center;
  color: #666;
  margin: 2px 0;
}

.dropdown a:hover {
  color: rgb(230, 30, 77);
}

.dropdown ul li:not(:last-child) {
  border-bottom: 1px #ccc double;
}

.dropdown ul li:hover {
  background-color: #f4f4f4;
  border-radius: 5px;
}

@media screen and (max-width: 1106px) {
  .header__right {
    display: none;
  }

  .header__right-icons-lang,
  .header__right-icons-plus {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 740px) {
  .header {
    justify-content: none;
  }

  .header__logo {
    height: 45px;
    margin: 0 25px;
  }

  .header__center {
    flex: 1;
    padding: 20px 10px;
    input {
      width: 250px;
    }
  }
}
@media screen and (max-width: 520px) {
  .header__center {
    input {
      width: 150px;
    }
  }
}

@media screen and (max-width: 420px) {
  .header__logo {
    height: 30px;
    margin: 0 15px;
  }
}
